<div class="editor-row">
	<div class="section gf-form-group">
		<h5 class="section-heading">Health Check</h5>
    		<div class="gf-form">
			<label class="gf-form-label width-12">Check interval</label>
			<input type="text" class="input-small gf-form-input max-width-9" ng-model="ctrl.panel.checkInterval" ng-change="ctrl.render()" ng-model-onblur />
		</div>
	</div>

	<div class="section gf-form-group">
		<h5 class="section-heading">Healthy display</h5>
		<div class="gf-form">
			<label class="gf-form-label width-12">Text</label>
			<input type="text" class="input-small gf-form-input width-10" ng-model="ctrl.panel.healthy.text" ng-change="ctrl.render()" ng-model-onblur />
		</div>
		<div class="gf-form">
			<label class="gf-form-label width-12">Bgacground Color</label>
			<span class="max-width-10">
				<spectrum-picker class="gf-form-input" ng-model="ctrl.panel.healthy.bgColor" ng-change="ctrl.render()" ></spectrum-picker>
			</span>
		</div>
		<div class="gf-form">
			<label class="gf-form-label width-12">Font Size</label>
			<input type="text" class="input-small gf-form-input width-10" ng-model="ctrl.panel.healthy.fontSize" ng-change="ctrl.render()" ng-model-onblur />
		</div>
	</div>

	<div class="section gf-form-group">
		<h5 class="section-heading">Unealthy display</h5>
		<div class="gf-form">
			<label class="gf-form-label width-12">Text</label>
			<input type="text" class="input-small gf-form-input width-10" ng-model="ctrl.panel.unhealthy.text" ng-change="ctrl.render()" ng-model-onblur />
		</div>
		<div class="gf-form">
			<label class="gf-form-label width-12">Bgacground Color</label>
			<span class="max-width-10">
				<spectrum-picker class="gf-form-input" ng-model="ctrl.panel.unhealthy.bgColor" ng-change="ctrl.render()" ></spectrum-picker>
			</span>
		</div>
		<div class="gf-form">
			<label class="gf-form-label width-12">Font Size</label>
			<input type="text" class="input-small gf-form-input width-10" ng-model="ctrl.panel.unhealthy.fontSize" ng-change="ctrl.render()" ng-model-onblur />
		</div>
	</div>
</div>
